/* here you can put your own css to customize and override the theme */
.page-head {
    background-color: #006666;
}
.page-head .page-title h1{
	color: white;
}
.page-head .page-title h1>small{
	color: white;
	opacity: 0.8;
}

#tab2 .form-group {
    margin-bottom: 0;
}